body.is-loading #main {
	opacity: 0;
	transform: rotateX(15deg);
}

#main {
	position: relative;
	max-width: 100%;
	min-width: 27em;
	padding: 4.5em 3em 3em 3em ;
	background: #ffffff;
	border-radius: 4px;
	cursor: default;
	opacity: 0.95;
	text-align: center;
	transform-origin: 50% 50%;
	transform: rotateX(0deg);
	transition: opacity 1s ease, transform 1s ease;
}

#main .avatar {
	position: relative;
	display: block;
	margin-bottom: 1.5em;
}

#main .avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	box-shadow: 0 0 0 1.5em #ffffff;
}

#main .avatar:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -3em;
	width: calc(100% + 6em);
	height: 1px;
	z-index: -1;
	background: #c8cccf;
}

@media screen and (max-width: 480px) {

	#main {
		min-width: 0;
		width: 100%;
		padding: 4em 2em 2.5em 2em ;
	}

	#main .avatar:before {
		left: -2em;
		width: calc(100% + 4em);
	}

}
