#wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	perspective: 1000px;
	position: relative;
	min-height: 100%;
	padding: 1.5em;
	z-index: 2;
}

#wrapper > * {
	z-index: 1;
}

#wrapper:before {
	content: '';
	display: block;
}

@media screen and (max-width: 360px) {

	#wrapper {
		padding: 0.75em;
	}

}
